/* Variáveis de Cores */
:root {
    --color-primary: #0056b3;
    --color-secondary: #f9f9f9;
    --color-accent: #c0c0c0;
    --color-highlight: #ff6f61;
    --text-color: #333;
    --footer-background: #333;
    --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);
    --transition-duration: 0.3s;
}

/* Estilo Global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-secondary);
    color: var(--text-color);
}

header, footer {
    background-color: var(--footer-background);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo do menu de navegação */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover, nav ul li a:focus {
    color: var(--color-primary);
    transform: scale(1.1);
}

/* Estilo para o Main */
main {
    padding: 20px;
    text-align: center;
}

/* Estilo da Barra de Pesquisa */
.filter {
    margin-bottom: 20px;
    text-align: center;
}

#menuSearch {
    width: 60%;
    padding: 10px;
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    font-size: 16px;
    transition: border var(--transition-duration);
}

#menuSearch:focus {
    border-color: var(--color-primary);
    outline: none;
}

/* Estilo dos Itens de Menu */
.menu-item {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-duration), box-shadow var(--transition-duration), background-color var(--transition-duration);
    opacity: 0;
    transform: translateY(20px);
    cursor: pointer;
}

.menu-item:hover {
    transform: scale(1.02);
    box-shadow: var(--box-shadow-hover);
    background-color: #333;
    color: white;
}

.menu-item h3 {
    margin-top: 0;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item h3 .price {
    font-size: 1em;
    color: #000; /* Define a cor dos preços para preto */
}

.menu-item p {
    margin: 10px 0 0;
    line-height: 1.6;
}

/* Animação de Fade-In para os Itens de Menu */
.menu-item.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos do Rodapé */
footer ul, .social-media ul {
    list-style: none;
    padding: 0;
}

footer ul li, .social-media ul li {
    display: inline;
    margin-right: 10px;
}

footer a, .social-media a {
    color: white;
    text-decoration: none;
}

.social-media {
    margin-top: 10px;
}

